In [1]:
#1
#Database is the collection of organized data that is structured or unstructured. The database's primary goal is to store a huge amount of data
#SQL(structured query language)---------------------NoSQL(not only structured query language)
#SQL databases display data in form                 NoSQL databases display data as collection of key-value pair, 
#of tables so it is known as                        documents, graph databases or wide-column stores
#table-based database

#SQL databases are best suited for                  NoSQL databases are not so good for complex queries because these are not as 
#complex queries                                    powerful as SQL queries

#MySQL, Oracle, Sqlite, PostgreSQL and              MongoDB, BigTable, Redis, RavenDB, Cassandra, Hbase, Neo4j, 
#MS-SQL etc. are the example of SQL database        CouchDB etc. are the example of nosql database

In [2]:
#2
#Data definition language (DDL) describes the portion of SQL that creates, alters, and deletes database objects
#Create-->This command is used to create table
#Ex:
#create table emp{
#empid int,
#emp_name varchar(20) 
#};

#Alter-->This command is used to rename table,column name,add new column,delete a column,modify datatype of a column etc.
#Ex(Assuming emp table is already created)
#alter table emp add address varchar(30);
#alter table rename column empid to employee_id;

#Drop-->This command is used to delete entire table
#drop table emp

#Truncate-->This command is used to remove all the rows of a table
#truncate table emp

In [3]:
#3
#DML(Data Manipulation language) helps us deal with managing and manipulating data in the database
#Insert-->It is used to data into the table
#Ex
#insert into emp (empid,emp_name) values (97,"hari");
#insert into emp values (101,"raju"),(105,"ritvik");

#Update-->it is used to modify pre-existing data
#Ex
#update emp set empid=99 where emp_name="raju"

#Delete-->Its used to delete a specific row of the table 
#Ex
#delete from emp where empid=99

In [4]:
#4
#DQL(Data Query Language) is used to retrieve information from the database
#Select-->Its used to select a record from the table
#Ex
#select * from emp where empid=105

In [5]:
#5
#Primary key-->This is a unique key which is used to access any record in particular
#Foreign key-->A Foreign Key is a field (or collection of fields) in one table, that refers to the Primary key in another table

In [7]:
#import mysql.connector
#mydb=mysql.connector.connect(host='localhost',user='root',password='admin')

In [ ]:
#7
#FROM/JOIN
#WHERE
#GROUP BY
#HAVING
#SELECT
#ORDER BY
#LIMIT/OFFSET